/***** colors *****/
$pri__desaturated-red: hsl(0, 36%, 70%);
$pri__soft-red: hsl(0, 93%, 68%);
$neut__dk-grayish-red: hsl(0, 6%, 24%);

/***** fonts *****/
$ff: "Josefin Sans", sans-serif;
$fs: 16px;
